html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgb(0, 137, 123);
    color: white;
    -webkit-user-select: none;
}

* {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
